/** Required for the virtual gamepad to display correctly, feel free to override with your own styles  */
@import url("virtual-gamepad-lib/gamepad_assets/base.css");

/** ---- styles for the example page ---- */
@import url("../page_styles.css");

#bottom-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
  flex: 1;
  flex-shrink: 1;
  flex-basis: fit-content;
}

/* *********  Gamepad Display Related ********* */

#gamepads {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 2rem;
}

#gpad-emulation-label {
  text-align: center;
  color: white;
  padding: 1em;
}

#gpad_display_container {
  position: relative;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 1;
  box-shadow: 0 0 32px #ffffff;
  background-color: #0000003f;
  max-width: 100%;
  width: max-content;
  height: max-content;
  border-radius: 20px;
  padding: 2vmin 1vmin;
  margin: 3rem;
}

.gpad-display svg {
  position: relative;
  max-height: 100vh;
  height: 14cm;
}
