@import url("../base.css");

body {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;

}

table {
  height: 100%;
}

#button-table tr td:nth-child(3) {
  text-align: left;
}

#gamepad-event-area {
  flex: 1;
  overflow: auto;
  height: 100%;
  text-align: center;
  padding: 0.5rem;
  box-sizing: border-box;
}

#gamepad-event-area #gamepad-event-display {
  font-size: 1em;
  line-height: 1.1;
  font-weight: bold;
}
