/** Required for the virtual gamepad to display correctly, feel free to override with your own styles  */
@import url("virtual-gamepad-lib/gamepad_assets/base.css");

/** ---- styles for the example page ---- */
@import url("../page_styles.css");

main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}



.table-container {
  z-index: 10;
}

table {
  height: 100%;
}

#button-table tr td:nth-child(3) {
  text-align: left;
}

#gamepad-event-area {
  flex: 1;
  overflow: auto;
  height: 100%;
  text-align: center;
  padding: 0.5rem;
  box-sizing: border-box;
  position: relative;
  z-index: -1;
  transform: translate3d(0, 0, 0);
}

#gamepad-event-area #gamepad-event-display {
  font-size: 1em;
  line-height: 1.1;
  font-weight: bold;
}
