html {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;


  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  text-align: center;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  display: block;
  position: fixed;
  max-width: 80vw;
  top: 50%;
  left: 50%;
  padding: 1rem;
  font-weight: bold;
  transform: translate(-50%, -50%);
}


section {
  flex: 1;
  overflow: auto;
  height: 100%;
}


table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  background-color: rgb(0, 0, 0);
  color: black;
  overflow: auto;
  padding: 6px;
  text-align: center;
  height: 100%;
  display: inline-block;
}


table td,
table th {
  border: 1px solid rgb(0, 136, 255);
  padding: 5px 8px;
}

table tr {
  background-color: rgb(255, 255, 255);
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#button-table tr td:nth-child(2) {
  text-align: left;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #04AA6D;
  color: white;
  white-space: wrap;
  width: min-content;
}

.text-block {
  display: block;
  position: relative;
  width: max-content;
  margin: 0 auto;
  padding: 1rem;
  max-width: 100%;
  text-align: left;
}

h3 {
  background-color: blueviolet;
}

.hidden {
  display: none !important;
}

/* *********  Gamepad Display Related ********* */


.gpad-display {
  position: fixed;
  user-select: none;
  width: max-content;
  bottom: 0;
  max-height: 15cm;
  pointer-events: none;
}

.gpad-display-left {
  left: 0;
  transform: translateX(-20%);
}

.gpad-display-right {
  right: 0;
  transform: translateX(20%);
}

.gpad-highlight {
  opacity: 0;
}

.gpad-highlight.pressed.touched {
  opacity: 1;
}

.gpad-highlight.touched {
  opacity: .5;
}

#l_touch_targets>*,
#r_touch_targets>* {
  visibility: hidden;

  cursor: none;
  pointer-events: all;
}

.direction_highlight {
  opacity: 0;
}

.direction_highlight.moved {
  opacity: 0.8;
}

.gamepad-joystick-touch-area {
  position: fixed;
  bottom: 0;

  width: 50%;
  height: 10cm;

  pointer-events: none;
  background-color: #0c61d860;

  touch-action: none;
}

.gamepad-joystick-touch-area#gamepad-joystick-touch-area-left {
  left: 0;
}

.gamepad-joystick-touch-area#gamepad-joystick-touch-area-right {
  right: 0;
}
