@import url("../base.css");

#button-table tr td:nth-child(2) {
  text-align: left;
}

#l_touch_targets>*,
#r_touch_targets>* {
  visibility: hidden;

  cursor: none;
  pointer-events: all;
}

body {
  margin-bottom: 50vh;
}
